* {
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	background: linear-gradient(to bottom right, #e60000, #0761d1) center /
		cover no-repeat #000;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 20rem;
	max-height: 30rem;
	width: 100%;
	height: 100%;
	background: #0006;
}

.container {
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #000;
	border: transparent;
	border-radius: 0.25rem;
	padding: 2px;
}

.menu {
	transition: background-color 200ms ease;
}

div {
	width: 100%;
	height: 0.125rem;
	background: #444;
	margin: 4px 0;
}

div:nth-of-type(even) {
	margin: 5px 0;
}

.change .bar1 {
	transform: translate(0, 7px) rotate(-45deg);
}
.change .bar2 {
	display: none;
}

.change .bar3 {
	transform: translate(0, 1px) rotate(45deg);
}

.change > div {
	background: #fff;
}
